<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660365954224-70rntknvaqb6hfoe6rdvpni98v8e9s3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660365954224-70rntknvaqb6hfoe6rdvpni98v8e9s3j</string>
	<key>API_KEY</key>
	<string>AIzaSyBvmP_WiIGhkIYnRJrSD8HGEH8_qwa-G88</string>
	<key>GCM_SENDER_ID</key>
	<string>660365954224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umer.foodApp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-e0223</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-e0223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660365954224:ios:7fcf86087de45a4d9fbf75</string>
</dict>
</plist>